
.container .row div div {
  background: #ccc;
  padding: 10px;
  margin-bottom: 15px;
}

.container .row div div h3 {
  margin-top: 0px;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-default a.navbar-brand {
  color: black;
  font-size: 1.6em;
  font-weight: 500;
}

.navbar.navbar-default {
  background: #ccc;
}
.navbar.navbar-default .container {
  background: #ccc;
}
.navbar {
  border-radius: 0px;
}

@media (max-width: 767px) {
  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
    background: #fff;
  }
  #menu{
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  #menu li a {
    color: black;
    a:hover: #ccc;
  }
  #menu li a:hover {
    color: #777;
  }
  #menu li {
    margin-bottom: 0px;
  }
  #menu li:nth-child(2) {
    border-top: #e7e7e7 1px solid;
    border-bottom: #e7e7e7 1px solid;
  }
  .container {
    margin-right: 15px;
    margin-left: 15px;
  }
}
